* {
  font-family: 'Trebuchet MS';

}

body, header, ul, li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

p, li, h1, h2, h3, h4 {
  color: #4e4e4e;
}

body  {
  background: #F7F7F7;
}

.wrapper{
  width: 96%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2%;
}

header{
  background: #E5E5E5;
  padding: 20px 0;
}

header h1, header nav h2 {
  display: none;
}
/** CLEAR FIX **/
.clear-fix::after {
  display: table;
  content: "";
  clear: both;
}
/***************/
/********* header *********/
header img#logo {
  margin: 0;
  width: 130px;
  float: left;
}

header nav {
  float: right;
}

header nav li {
  float: left;
  margin-left: 20px;
  margin-top: 10px;
}

header nav li a {
  color:#4E4E4E;
  text-transform: uppercase;

}

header nav li a.current {
  color: #1ABB9C;
}
/********* End of header *********/
/********* Main banner ***********/
#main-banner {
  max-width: 1200px;
  margin:auto;
  overflow: hidden;
}
#main-banner img {
  width: 100%;
}
/********* End of main banner *****/
/********* section: selling-points */
#selling-points {
  margin-top: 60px;
  padding-bottom: 30px;
}

#selling-points li {
  float: left;
  width:23%;
  padding:1%;
  text-align: center;
}
#selling-points {
  border-bottom: solid 2px #DBDBDB;
}
/********* End of section selling-points */
/********* Section: latest-work *******/
#latest-work {
  padding-top: 30px;
  padding-bottom: 0;
}
#latest-work h2 {
  text-transform: uppercase;
  font-size: 18px;
}
#latest-work li {
  float: left;
  width:32%;
  padding: 0 1%;
}
#latest-work li:first-of-type {
  padding-left: 0;
}
#latest-work li:last-of-type {
  padding-right: 0;
}
#latest-work li img {
  width: 100% ;
}
#latest-work h3 {
  margin-bottom: 0;
}
#latest-work p {
  line-height: 1.6em;
}
#latest-work p.tags {
  color:#A8A8A8;
  font-size: 14px;
  margin-top: 5px;
}
/********* End fo section: latest-work *******/
/********* Quote Div *******/
#quote {
  margin-top: 30px;
  width: 60%;
  padding: 40px 20%;
  background: url(images/quote.png) no-repeat center 20px;
  background-color: #EFEFEF;
  color: #A1A1A1;
  line-height: 1.6em;
  text-align: center;
}
/********* End of quote Div *******/
/********* Footer *******/
footer {
background-color: #E5E5E5;
}

footer ul {
  float: left;
  width: 23%;
  padding: 1%;
}

footer ul:first-of-type {
  padding-left: 0;
}

footer ul:last-of-type {
  padding-right: 0;
}

footer li h4 {
  color: #6C6C6C;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom:0;
}
footer li {
  padding-bottom:8%;
  font-size: 14px;
}
footer li, #copyright {
  color:#CECECE;
}
li.location {
  list-style: none outside url(images/location.png);
}
li.phone {
  list-style: none outside url(images/Phone.png);
}
li.email {
  list-style: none outside url(images/Message.png);
}
li.tw {
  list-style: none outside url(images/tweet.png);
}
li.location, li.phone, li.email, li.tw {
  margin-left: 18px;
}

#copyright {
  float: left;
  padding: 5% 0;
  font-size: 14px;
}
/********* Footer *******/